---
import Navigation from "../components/Navigation.astro"
import Hero from "../components/Hero.astro"
import ProjectsSection from "../components/ProjectsSection.astro"
import Certifications from "../components/Certifications.astro"
import SkillsSection from "../components/SkillsSection.astro"
import ContactSection from "../components/ContactSection.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="stylesheet" href="../styles/global.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		
		<Navigation /> 
		<Hero />
		<ProjectsSection />
		<SkillsSection />
		<Certifications />
		<ContactSection />

	</body>
</html>

<style>
	html{
			background-color: rgb(161, 226, 161);
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

	}
	
</style>
