---
---
<section>
    <div class="certificationsSection">
    <h1>CERTIFICACIONES</h1>
    <div class="rol">
        <h2>
            <a>Ingeniero en Sistemas</a>
        </h2>
    </div>
    <div class="rol">
        <h2>
            <a>Web Developer</a>
        </h2>
    </div>
    <div class="rol ">
        <h2 class="rolThree">
            <a>App Developer</a>
        </h2>
    </div>
    </div>
</section>

<style>
    *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    section {
        min-height: 45vh;
        display: flex;
        justify-content: center;
        margin: 0 0 4vh 0;
    }
    .certificationsSection{
        width: 95%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: rgb(119, 221, 119);
        border-radius: 1rem;
        box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.5);

    }

    :global(html.dark) .certificationsSection{
        background-color: rgb(65, 138, 65);
    }

    .certificationsSection h1{
        text-align: center;
        width: 100%;
        /* font-weight: bolder; */
        font-weight: bold;
        font-size: 2rem;
        color: whitesmoke;
        text-shadow: 5px 5px 10px rgb(0, 0, 0)

    }
    
    .rol {
        display: flex;
        background: linear-gradient(to right, #9a9e9a, #e9f1ec); 
        border-radius: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* border: 2px solid black; */
        padding: 2%;
        height: 20vh;
        width: 80%;
        max-width: 400px;
        margin: 2% 2% 5% 2%;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.5), 0 10px 20px rgba(0,0,0,0.2);

    }
    .rol a:hover{
        font-weight: 800;
    }



</style>