---
---
<footer>
    <section>
        <div>Contact Me</div>
        <div>
            <form action="">
                <input type="text">
                <input type="email">
                <input type="text">
            </form>
        </div>
    </section>
    <section>
        Github
        LinkedIn
    </section>
</footer>
<style>
    *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    }
</style>