---
---
<section class="hero">
    <div class="hero-left">
        <img src="" alt="">
    </div>
    <div class="hero-right">
            <h1>Juan Pablo</h1>
            <h2>Web Developer</h2>
            <p>¡Aprende Más!</p>
    </div>
</section>
<style>
    *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    }
    .hero {
        display: flex;
        height: 45vh;
    }
    .hero .hero-left{
        width: 50%;
    }
    .hero .hero-right{
        width: 50%;
        align-items: center;  
        justify-content: center;  
    }
    .hero .hero-right h1{
        display: block;
        padding-top: 5vh ;
        justify-content: center;
        text-align: center;
        align-items: center;    
    }
    .hero .hero-right h2{
        display: block;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .hero .hero-right p{
        display: block;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

</style>