---

---
<section id="heroSection">
    <div class="hero">
    <div class="hero-left">
        <img src="/heroImages/MiFoto.jpeg" alt="Una Foto Mía con una taza gigante">
    </div>
    <div class="hero-right">
            <h1>Juan Pablo</h1>
            <h2>Web Developer</h2>
            <a href="#projectsSection">MÁS INFORMACIÓN</a>
    </div>
    </div>
</section>
<style>
    *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .hero {
        display: flex;
        height: 45vh;
        width: 95%;
        flex-wrap: wrap;
        justify-content: space-between ;
        align-items: center;
        color: white;
        text-shadow: 1px 1px 15px rgb(0, 0, 0);

    }
    .hero .hero-left{
        height: 90%;
        width: 48%;
        background-color: whitesmoke;
        border-radius: 1rem;
        box-shadow:  0 4px 10px rgba(0,0,0,0.4);

    }

    .hero-left img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;

    }

    .hero .hero-right{
        height: 90%;
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;  
        justify-content: center;  
        background-color: rgb(119, 221, 119);
        border-radius: 1rem;
        box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.5);
    }

    :global(html.dark) .hero .hero-right{
        background-color: rgb(65, 138, 65);
    }

    .hero .hero-right h1{
        justify-content: center;
        text-align: center;
        align-items: center;  
        margin: 0;  
    }
    .hero .hero-right h2{
        margin: 0;
        display: block;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .hero .hero-right a{
        text-decoration: none;
        margin-top: 2%;
        border: none;
        text-shadow: none;
        border-radius: 1rem;
        font-weight: bold;
        height: 5vh;
        padding: 0 2%;
        min-width: 45%;
        display: flex;
        color: black;
        align-items: center;
        justify-content: center;
        background-color: whitesmoke;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    }

    .hero .hero-right a:hover{
        cursor: pointer;
        background-color: ;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.7);
    }
    section{
        display: flex;
        justify-content: center;
        margin: 0 0 4% 0;
    }

</style>