---
---
<nav>
        <ul>
            <li>Me</li>
            <li>Projects</li>
            <li>Skills</li>
        </ul>

</nav>

<style>

    *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    }
    nav {
        height: 10vh;
    }
    nav ul{
        height: 5vh;
        list-style-type: none;
        display: flex;
        padding-top: 3vh;
        align-items: center;
        align-self: center;
        justify-content: space-around;
        padding:0 10 ;
    }
    nav ul li{
        font-size: 1.3rem;
    }
</style>