---
import Project from "./Project.astro"
---
<section>
    <div class="project">
        <Project projectName="NEXTJS" projectImage="../assets/DashboardApp.png" projectLink="https://nextjs-dashboard-bmmvmxob2-juanpadev2003-4596s-projects.vercel.app/"/> 

    </div>
    <div class="project">
        <Project projectName="ASTRO" projectImage="../assets/AstroBlog.png" projectLink=" https://juanpadevastrotutorial.netlify.app/"/> 
    </div>
</section>
<style>
    *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    }

    section {
        height: 50vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .project{
        height: 30vh;
        width: 40%;
    }

    
</style>