---
import Project from "./Project.astro"

---
<section>
    <div class="projectSection">
    <h1>PROYECTOS</h1>
    <div class="project">
        <Project altProject="Foto de mi proyecto de Dashboard en Next" projectName="NEXTJS" projectImage="/projectsImages/DashboardApp.png" projectLink="https://nextjs-dashboard-bmmvmxob2-juanpadev2003-4596s-projects.vercel.app/"/> 

    </div>
    <div class="project">
        <Project altProject="Foto de mi proyecto de Blog con Astro" projectName="ASTRO" projectImage="/projectsImages/AstroBlog.png" projectLink=" https://juanpadevastrotutorial.netlify.app/"/> 
    </div>

    
</section>
<style>
    *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    section{
        min-height: 40vh;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 0 4vh 0;
    }
    .projectSection {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(119, 221, 119);
        border-radius: 1rem;
        box-shadow: inset 0 4px 10px rgba(0,0,0,0.4), 0 10px 20px rgba(0,0,0,0.2);
    }
    .project{
        margin: 2% 2% 5% 2%;
        height: 9rem; 
        width: 16rem;

    }
    .projectSection h1{
        text-align: center;
        width: 100%;
        /* font-weight: bolder; */
        font-weight: bold;
        font-size: 3rem;
        color: whitesmoke;
        text-shadow: 5px 5px 8px rgb(0, 0, 0)

    }

    
</style>