---
---
<section>
    <div class="rol">
        <h2>
            Ingeniero en Sistemas
        </h2>
    </div>
    <div class="rol">
        <h2>
            Web Developer
        </h2>
    </div>
    <div class="rol ">
        <h2>
            App Developer
        </h2>
    </div>
</section>

<style>
    *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    }
    section {
        height: 45vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .rol {
        display: flex;
        width: 45%;
        height: 40%;
        background-color: rgb(49, 129, 49);
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }



</style>