---
const {skill} = Astro.props;

---
<div class="skill">
    <a>{skill}</a>
</div>
<style>
    *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .skill a{
        padding-top: 5%;
        padding-left: 5%;
        color: black;
    }
    .skill a:hover{
        font-weight: bolder;
        cursor: pointer;
    }
</style>